{% extends "users/base.html" %}

{% block head_content  %}
    <title>Sign in | Fullstackgram</title>
{% endblock %}    

{% block container %}
    {% if form.errors %}
        <p>Your username and password did not match. Please try again.</p>
    {% endif %}

    <form>
        <div>
            <input type="text" placeholder="Username" />
        </div>
        <div>
            <input type="password" placeholder="Password" />
        </div>
        <button type="submit">Sign in</button>
    </form>
    <p>Don't have an account yet? <a href="">Sign up here</a></p>

{% endblock %}